.new-tweet-form {
    display: flex;
    flex-direction: column;
    width: 40em;
    margin: 0 auto;
}

#tweet-btn {
    background-color: #4056A1;
    color: #FFFFFF;
    font-family: Bungee;
}

#text-label {
    text-align: top;
}

.counter {
    font-family: Bungee;
    margin-left: 33em;
}

#tweet-textarea {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #545149;
    border-bottom-width: 3px;
}

.validation-error {
    border: 2px solid red;
    margin-bottom: 2%;
}

.error-msg {
    color: red;
}

.hide {
    display: none;
}